---
---
@import "{{ site.theme }}";
$max-width:1440px;
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
footer {
    font: unset;
    color: #D8AB4C;
}
